/* Styles Généraux */
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,500,600);

* {
   font-family: "IBM Plex Mono";
   padding: 0px;
   margin: 0px;
   scroll-behavior: smooth;
}
body {
   background-color: #272325;
   display: flex;
   flex-direction: row;
}
a {
   text-decoration: none;
   color: inherit;
}
ul {
   list-style-type: none;
}

main {
   display: flex;
   flex-direction: column;
   width: 80vw;
   margin-left: 20vw;
   padding: 10px;
}

/*
V1

Styles Généraux
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    font-family: 'Reddit Mono', serif;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-size: 4em;
    margin: 20px;
    text-align: center;
}

Navigation
nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 10vh;
}
.nav_right {
    display: flex;
    margin: 25px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.element_nav {
    background-color: black;
    padding: 10px 20px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    z-index: 0;
}
.element-nav_hidden {
    transform: translateX(100%);
}
.element_nav a {
    margin: 0 10px;
    font-size: 17px;
}
.element_nav a:hover {
    color: #ee5b73;
}
.menu-icon {
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 1;
}
.menu-icon .bar {
    width: 100%;
    height: 2.2px;
    background-color: white;
}
.menu-icon:hover .bar {
    background-color: #ee5b73;
}
.nom_logo {
    margin : 30px 70px;
    color: white;
    font-size: 20px;
}

Header
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 90vh;
}
header h1 {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 15em;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
        15px 15px 0px #e601c0,
        20px 20px 0px #e9019a,
        25px 25px 0px #f40468,
        45px 45px 10px rgb(15, 15, 15);
    cursor: pointer;
}
header h1:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}

Footer
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.liens_sociaux {
    display: flex;
    justify-content: center;
    margin: 25px;
}
.liens_sociaux a {
    margin: 10px 30px 0;
}
.liens_sociaux img {
    height: 40px;
    margin: 2.5px;
}
.liens_sociaux img:hover {
    height: 45px;
    margin: 0px;
}

A Propos
#a_propos {
    margin: 20px;
    text-align: center;
}
#a_propos hr {
    border: none;
    border-top: 5px solid #ee5b73;
    height: 5px;
    width: 75px;
    color: #ee5b73;
    opacity: 1;
    margin: 15px auto;
}
#a_propos p {
    margin: 10px 100px;
    font-size: 1.3em;
    font-weight: 600;
}

.contact_icone {
    height: 45px;
    margin: 20px;
    transition: filter 0.3s ease-in-out;
}
.contact_icone:hover {
    filter: invert(50%);
}

Compétences
#competences {	
    background-color: black;
    color: white;
    padding: 25px 50px;
}
#competences .container {
    display: flex;
    flex-direction: row;
}

Graphique
.graph {
    flex: 0.60;
    margin: 20px;
}
.graph h3 {
    margin: 1.3em;
    font-size: 25px;
}
.graph h4 {
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: white;
    box-shadow: #303030 5px 5px 15px;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: linear-gradient(to right, #00009C 0%, #00a950 100%);
}
.c40{
    width: 40%;
}
.c45{
    width: 45%;
}
.c50{
    width: 50%;
}
.c55{
    width: 55%;
}
.c60{
    width: 60%;
}
.c65{
    width: 65%;
}
.c70{
    width: 70%;
}
.c75{
    width: 75%;
}
.c80{
    width: 80%;
}
.c85{
    width: 85%;
}
.c90{
    width: 90%;
}
.c95{
    width: 95%;
}
.c100{
    width: 100%;
}

CV
.cv {
    flex: 0.40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    text-align: center;
    align-items: center;
}
.cv img {
    width: 100%;
    height: auto;
}
Bouton CV
.cv a {
	background-image: linear-gradient(to right, #00009C 0%, #00a950 100%);
	border-radius: 40px;
    box-sizing: border-box;
	color: #00a84f;
	display: block;
	font-size: 1.2em;
    font-weight: 600;
	height: 60px;
	letter-spacing: 1px;
	margin: 25px;
	padding: 4px;
    text-decoration: none;
	text-transform: uppercase;
	width: 240px;
}
.cv a:hover {
	color: #fff;
}
.cv span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}
.cv a:hover span {
	background: transparent;
}

Projets
#projets {
    padding: 20px 50px;
}
#projets .container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#projets .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

#projets .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.carousel-button.left {
    left: 0;
}
.carousel-button.right {
    right: 0;
}

.projet {
    flex: 0.33;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid black;
    border-radius: 25px;
    background-color: whitesmoke;
    transition: 1s ease;
    cursor: pointer;
}
.projet:hover {
    transform: scale(1.1);
    transition: 1s ease;
}
.projet img {
    width: auto;
    height: auto;
    max-height: 150px;
    border: 2px solid black;
    object-fit: contain;
}

Style pour la boîte modale
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal img {
    width: 80%;
    height: auto;
    border: 2px solid black;
    margin: 20px;
}
.modal h1 {
    font-size: 1.6em;
}
.modal p {
    font-size: 1.2em;
}
.modal ul {
    margin: 20px;
}
.modal li {
    font-size: 1.2em;
}

Contact
#contact {
    padding: 20px 50px;
    text-align: center;
    font-size: 1.3em;
}
#contact ul {
    list-style-type: none;
}
#contact li {
    margin: 10px;
}

Media Queries
@media screen and (max-width: 768px) {
    h2 {
        font-size: 2em;
    }
    
    Navigation
    .nav_right {
        margin: 15px;
    }
    .element_nav {
        padding: 10px 0px;
    }
    .element_nav a {
        font-size: 0.5em;
        margin: 0 5px;
    }
    .nom_logo {
        font-size: 17px;
    }
    .nom_logo {
        margin : 30px 30px;
        font-size: 12px;
    }
    
    Header
    header {
        height: 90vh;
    }
    header h1 {
        font-size: 5em;
        font-variation-settings: "wght" 600, "ital" 1;
        text-shadow: 4px 4px 0px #07bccc,
            10px 10px 0px #e601c0,
            15px 15px 0px #e9019a,
            20px 20px 0px #f40468,
            40px 40px 10px rgb(15, 15, 15);
    }
    
    A Propos
    #a_propos p {
        margin: 10px 0px;
        font-size: 1em;
    }
    
    Compétences
    #competences {
        padding: 25px 10px;
    }
    #competences .container {
        flex-direction: column;
    }

    Projets
    #projets {
        padding: 20px 10px;
    }
    #projets .container {
        flex-direction: column;
    }

    Contact
    #contact {
        font-size: 1em;
    }
}
*/
